```html
<section class="login-page">

  <div class="login-background"></div>

  <div class="login-container">

    <div class="login-card">

      <div class="login-header">

        <span class="eyebrow">
          CINEBOOK
        </span>

        <h1>Welcome Back</h1>

        <p>
          Sign in to continue booking your favorite movies.
        </p>

      </div>


      @if (errorMessage()) {

        <div class="error-message">
          {{ errorMessage() }}
        </div>

      }


      <form (ngSubmit)="login()">

        <div class="form-group">

          <label for="email">
            Email
          </label>

          <input
            id="email"
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter your email"
            autocomplete="email"
          />

        </div>


        <div class="form-group">

          <label for="password">
            Password
          </label>

          <input
            id="password"
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Enter your password"
            autocomplete="current-password"
          />

        </div>


        <button
          class="login-btn"
          type="submit"
          [disabled]="loading()"
        >

          @if (loading()) {

            <span class="spinner"></span>

            Signing in...

          } @else {

            Sign In
            <span>→</span>

          }

        </button>

      </form>


      <div class="divider">
        <span>OR</span>
      </div>


      <p class="signup-text">

        Don't have an account?

        <a routerLink="/signup">
          Create Account
        </a>

      </p>

    </div>

  </div>

</section>
```

